#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens192 --gateway=10.0.5.1 --ip=10.0.5.20 --nameserver=8.8.8.8,8.8.4.4 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

#Root password
rootpw --lock
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Jakarta --isUtc --nontp
user --groups=wheel --name=criticalhitx --password=$6$brVhLS3xQrPp.TSm$SUFULzixt27sUDayxc2v7GsZNpmlRxgMs2vTN4CU0DioX9qeER5tEhIgRA4n/ZRUpn7GEOiyP9blFIrr8/ohY0 --iscrypted --gecos="criticalhitx"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
